.Home12_Container {
    position: relative;
    padding: 100px;
    width: 100%;
}

.Home12_Holder {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.MapSect {
    width: 100%;
    height: 100%;
}

.MapSect img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width:1024px) {
    .Home12_Container {
        padding: 40px;
    }
}

@media (max-width:425px) {
    .Home12_Container {
        padding: 20px;
    }
}