.Nero4Section1 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

@media (max-width:1024px) {
    .Nero4Section1 {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
}


@media (max-width:425px) {

    .Nero4Section1 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

}