.Footer1 {
    position: relative;
    background-color: #008cd0;
    padding: 100px;
    width: 100%;
}

.Footer1_Container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.Footer1_Section1 {
    width: 55%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Footer1_Cont1 {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Footer1_Cont1 h2 {
    color: #fff;
    font-family: "Poppins", Sans-serif !important;
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
}

.Footer1_Cont1 p {
    color: #fff;
    font-family: "Poppins", Sans-serif !important;
    font-family: "Poppins", Sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.Footer1_Cont2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Footer1_Cont2Sect1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Contact1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Contact1 h3 {
    color: #FFCB04;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.ContactLink {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contactIcon {
    color: #008cd0 !important;
    background-color: #fff !important;
    font-size: 25px;
    padding: 15px;
    border-radius: 100%;
    margin-right: 14px;
}

.ContactText {
    color: #fff;
    padding-left: 5px;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none !important;
}

.Footer1_Cont2Sect2 {
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}

.Footer1_Cont2Sect2 h3 {
    color: #fff;
    font-size: 44px;
    font-weight: 500;
    font-family: "Poppins", sans-serif !important;
}

.Social {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.socialIcon {
    display: inline;
    color: #fff;
    font-size: 35px;
}

.Footer1_Section2 {
    padding: 10px;
    width: 45%;
}

.FooterForm {
    padding: 20px 40px;
    background-color: #fff;
    color: #008cd0;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif !important;
}

.FooterLabel,
.FooterSpan,
.FooterInput,
.FooterSelect,
.FooterTextArea {
    width: 100%;
}

.FooterInput,
.FooterSelect,
.FooterTextArea {
    background-color: #DDF4FF;
    border: 2px solid #60AADF;
    color: #008cd0;
    font-weight: 500;
    text-indent: 20px;
    border-radius: 10px;
    padding: 5px;
}

.FooterInput::placeholder,
.FooterTextArea::placeholder {
    color: #008cd0;
    font-weight: 500;
}

.FooterSelect option {
    color: #008cd0;
}

.FooterButton {
    background-color: #008cd0;
    color: #fff;
    border-radius: 10px;
    border: none;
    margin-top: 0px;
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px;
    text-transform: uppercase;
}

.CopyRights {
    position: relative;
    width: 100%;
    padding: 0 100px;
    background-color: #fff;
}

.CopyRightsCont {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.CopyRightsCont p {
    width: 100%;
    color: #008cd0;
    font-size: 17px;
    font-family: "Poppins", sans-serif !important;
}

@media (max-width:1024px) {
    .Footer1 {
        padding: 40px;
    }

    .Footer1_Cont2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

@media (max-width:768px) {
    .Footer1 {
        padding: 40px;
    }

    .Footer1_Container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .Footer1_Section1 {
        width: 100%;
    }

    .Footer1_Section2 {
        width: 100%;
    }

    .Footer1_Cont2 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width:425px) {
    .Footer1 {
        padding: 50px 20px;
    }

    .Footer1_Cont2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .Footer1_Cont1 h2 {
        font-size: 36px;
        text-align: center;
    }

    .Footer1_Cont1 p {
        font-size: 18px;
        text-align: center;
    }

    .Contact1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .Contact1 h3 {
        font-size: 17px;
        text-align: center;
    }

    .ContactLink {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .contactIcon {
        color: #008cd0 !important;
        background-color: #fff !important;
        font-size: 18px;
        padding: 10px;
        border-radius: 100%;
        margin-right: 10px;
    }

    .ContactText {
        color: #fff;
        padding-left: 5px;
        font-size: 18px;
        font-weight: 700;
        text-decoration: none !important;
    }

    .Footer1_Cont2Sect2 {
        padding: 10px;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .Footer1_Cont2Sect2 h3 {
        color: #fff;
        font-size: 24px;
        font-weight: 500;
        font-family: "Poppins", sans-serif !important;
    }

    .Social {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .socialIcon {
        display: inline;
        color: #fff;
        font-size: 24px;
    }

    .CopyRights {
        position: relative;
        width: 100%;
        padding: 0 20px;
        background-color: #fff;
    }

    .CopyRightsCont p {
        width: 100%;
        color: #008cd0;
        font-size: 13px;
        font-family: "Poppins", sans-serif !important;
    }
}